# --- Ansible ---
*.retry
*.log
# Секреты Ansible Vault (если будешь хранить их в файлах)
.vault_password

# --- Docker ---
.env
*.db
*.sqlite

# --- Системные файлы и IDE ---
.DS_Store
.vscode/
.idea/
*.swp
*~

# Игнорируем тяжелые бинарные кэши и ISO-образы
packer_cache/

# Игнорируем результаты сборки Packer (виртуальные диски VHDX и конфиги ВМ)
output-debian/

# Игнорируем файлы с переменными и секретами
*.pkrvars.hcl

ansible/hosts.ini