# terraform/.gitignore

# Игнорируем скопированные диски виртуальных машин
vms/

# Игнорируем файлы состояния Terraform (State)
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Игнорируем переменные окружения, содержащие локальные секреты
*.tfvars
!terraform.tfvars # (Этот общий пример можно оставить, так как в нем нет секретов)
