# Настройки локали и раскладки клавиатуры (Профессиональный стандарт en_US) [44]
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us

# Автоматическое определение сети по DHCP [61]
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string debian-golden
d-i netcfg/get_domain string local

# Настройка зеркала для загрузки пакетов (Официальный стабильный CDN) [23]
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Полное отключение пароля root (принцип наименьших привилегий) [28, 45]
d-i passwd/root-login boolean false

# Создание технического пользователя ansible для автоматизации [6, 48]
d-i passwd/user-fullname string Ansible Automation User
d-i passwd/username string ansible
d-i passwd/user-password password temporary_secure_password_123
d-i passwd/user-password-again password temporary_secure_password_123

# Настройка времени (Asia/Yakutsk для логов вовремя) [24]
d-i clock-setup/utc boolean true
d-i time/zone string Asia/Yakutsk
d-i clock-setup/ntp boolean true

# Автоматическая разметка дисков по схеме LVM [23, 27]
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select atomic

# Подтверждение разметки диска
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Выбор ПО (чистый CLI сервер без графической оболочки) [24]
tasksel tasksel/first multiselect standard, ssh-server

# Настройка пакетного менеджера apt
d-i apt-setup/non-free-firmware boolean true
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
popularity-contest popularity-contest/participate boolean false

# Установка загрузчика GRUB в MBR [24]
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default

# Запуск скрипта в конце установки для добавления sudo прав без пароля [46]
d-i preseed/late_command string \
    in-target apt-get install -y sudo; \
    echo "ansible ALL=(ALL) NOPASSWD:ALL" > /target/etc/sudoers.d/ansible; \
    chmod 0440 /target/etc/sudoers.d/ansible

# Завершение установки и перезагрузка машины
d-i finish-install/reboot_in_progress note